<section class="banner">
    <h1>O que você quer preparar hoje?</h1>
    <div class="search">
        <input 
            type="text"
            placeholder="Digite o termo e aperte enter para buscar"
            (keydown)="OnEnterKey($event)"
        >
    @if(recipes; as recipes){
        <div class="search-result">
            @for(recipe of recipes ; track recipe.id){
                <a (click)='goToRecipe(recipe.id)'>{{ recipe.name }}</a>
            }
        </div>
    }    
    </div>

    
</section>
