.banner {
    background: url('../../../../../public/banner.png') no-repeat center center;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
}

.banner h1 {
    color: #fff;
}

.search {
    background-color: #fff;
    width: 30%;
    height: 42px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.search-result a:hover {
    cursor: pointer;
}